<h2><%= @cat.name %></h2>

<ul>
  <% @cat.attributes.each do |attr| %>
    <% unless ["created_at","updated_at"].include?(attr[0])%>
      <li><%= "#{attr[0].capitalize}: #{attr[1]}" %>
      <%= "(Age: #{@cat.age})" if attr[0] == "birth_date" %></li>
    <% end %>
  <% end %>
</ul>

<h3>Rental Requests</h3>

<ul>
  <% @cat.cat_rental_requests.sort_by { |crr| crr.begin_date }.each do |crr| %>
    <li><%= "#{crr.begin_date} to #{crr.end_date}" %>
      <% if crr.status != "approved" %>
      <form action="/cat_rental_requests/<%= crr.id %>" method="post">
        <input type="submit" value="Approve" name="cat_rental_request[status]">
        <input type="submit" value="Deny" name="cat_rental_request[status]">
        <input type="hidden" name="_method" value="put">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
      </form>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Edit this cat", edit_cat_url %>
<br>
<%= link_to "Destroy this cat", @cat, method: :delete %>
<br>
<%= link_to "All cats", cats_url %>